<div style="height: 100vh">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="deviceId">
      <th mat-header-cell *matHeaderCellDef>Device ID</th>
      <td mat-cell *matCellDef="let element"> {{element.deviceId}} </td>
    </ng-container>
    <ng-container matColumnDef="deviceName">
      <th mat-header-cell *matHeaderCellDef> Device Name</th>
      <td mat-cell *matCellDef="let element"> {{element.deviceName}} </td>
    </ng-container>
    <ng-container matColumnDef="deviceType">
      <th mat-header-cell *matHeaderCellDef>Device Type</th>
      <td mat-cell *matCellDef="let element"> {{element.deviceType}} </td>
    </ng-container>
    <ng-container matColumnDef="performance">
      <th mat-header-cell *matHeaderCellDef>Performance</th>
      <td mat-cell *matCellDef="let element"><span class="dot"
                                                   [ngStyle]="{'background-color': element.performance}"></span></td>
    </ng-container>
    <ng-container matColumnDef="efficiency">
      <th mat-header-cell *matHeaderCellDef>Efficiency</th>
      <td mat-cell *matCellDef="let element"><span class="dot"
                                                   [ngStyle]="{'background-color': element.efficiency}"></span></td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

